.digimon-card {
  width: 200px;
  height: 300px;

  display: flex;
  flex-direction: column;

  border: solid 2px rgb(0, 0, 0);
  border-radius: 5px;

  cursor: pointer;

  background-image: url("../../assets/images/digimonCardBackground.jpg");

  .card-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h1 {
      font-size: 1.1rem;
    }

    & > img {
      width: 80%;
      aspect-ratio: 1/1;
    }
  }
}

@media only screen and (max-width: 480px) {
  .digimon-card {
    width: 110px;
    height: 200px;

    & .card-content {
      flex-direction: column-reverse;
      gap: 20px;
    }
  }
}
