.header {
  width: 100%;
  height: 7%;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 16px;

  box-shadow: 1px -86px 103px 61px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px -86px 103px 61px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px -86px 103px 61px rgba(0, 0, 0, 0.75);

  color: var(--text-color);
  background-color: var(--primary-color);

  & > p {
    font-size: 1.2rem;
  }

  & .left {
    display: flex;
    align-items: center;
    gap: 4px;

    & img {
      width: 30px;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      background-color: rgb(230, 230, 230);
    }

    & p {
      font-family: pokemon-font;
    }

    & .left-items {
      display: flex;
      align-items: center;
      gap: 8px;

      & > button {
        width: 70px;
        height: 22px;

        cursor: pointer;
      }
    }
  }

  & .right {
    position: relative;

    display: flex;
    align-items: center;
    gap: 10px;

    & button {
      width: 40px;
      height: 40px;

      background-color: transparent;
      cursor: pointer;

      & img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.modal-content-wrapper {
  width: 600px;
  height: 365px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & label {
    display: flex;
    align-items: center;
  }

  & span:hover {
    background-color: rgba(160, 160, 160, 0.2);
  }

  & input + span {
    font-size: 30px;
  }

  & input[value="small"] + span {
    font-size: 20px;
  }

  & input[value="medium"] + span {
    font-size: 25px;
  }

  & input[value="large"] + span {
    font-size: 30px;
  }
}

& .settings-dropdown {
  position: absolute;
  top: 100%;
  right: 0;

  width: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;

  padding: 16px 4px;

  background-color: var(--primary-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

  & button {
    height: 22px;

    display: flex;
    align-items: flex-end;
    justify-content: center;

    line-height: 30px;

    & span {
      display: inline-block;
      line-height: 1;

      color: var(--text-color);
    }
  }

  & button[data-font-size="small"] {
    font-size: 13px;
  }

  & button[data-font-size="medium"] {
    font-size: 16px;
  }

  & button[data-font-size="large"] {
    font-size: 19px;
  }

  & .font-sizes {
    position: absolute;
    right: 100%;
    bottom: 0;

    display: flex;
    gap: 20px;

    padding-bottom: 16px;

    background-color: var(--primary-color);
  }
}

@media only screen and (max-width: 480px) {
  .header {
    padding: 4px;
  }
}
