.dropdown {
  position: relative;
  display: inline-block;

  .dropbtn {
    width: 110px;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-inline: 5px;

    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;

    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='10' viewBox='0 0 24 24' width='10' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.6rem center;
    background-size: 0.8rem;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .dropdown-content {
    position: absolute;

    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;

    padding: 10px;

    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(0, 0, 0);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

    & label {
      display: flex;
      align-items: center;
      gap: 8px;

      user-select: none;

      cursor: pointer;

      & input[type="button"] {
        display: none;
      }
    }

    & label:hover {
      background-color: rgba(128, 128, 128, 0.1);
    }
  }
}

@media only screen and (max-width: 480px) {
  .dropdown {
    .dropbtn {
      width: 70px;
    }
  }
}
