.pokedex-wrapper {
  height: 0px;
  flex: 1 1 auto;

  display: flex;

  padding-inline: 10%;

  background-image: url("../../assets/images/charmander.jpg");

  & .pokemon-cards-container {
    width: 0px;
    flex: 1 1 auto;

    display: flex;
    flex-direction: column;
    gap: 50px;

    padding-top: 60px;

    & .pokemon-card-organizer {
      width: 100%;

      display: flex;
      justify-content: space-between;

      & .search-bar,
      & .cards-preview-settings select {
        height: 35px;
      }

      & .search-bar {
        width: 200px;

        padding-inline: 10px;

        border: none;
        border-radius: 20px;
        outline: none;

        border-bottom: solid 2px rgb(0, 0, 0);
      }

      &::placeholder {
        color: rgb(212, 212, 212);
        font-size: 1rem;
      }

      & .cards-preview-settings {
        display: flex;
        gap: 12px;

        & select {
          width: 110px;

          color: rgb(0, 0, 0);
          background-color: rgb(255, 255, 255);
          border: solid 1px rgb(0, 0, 0);
          border-radius: 20px;
        }
      }
    }

    & .cards {
      height: 0px;
      flex: 1 1 auto;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-auto-rows: 250px;
      grid-column-gap: clamp(0.2rem, 2vw, 3rem);
      justify-content: space-evenly;
      grid-row-gap: 20px;

      overflow-y: auto;

      & img {
        max-width: 130px;
        max-height: 150px;

        width: 70%;
        height: 70%;
      }
    }
  }

  & .modal-content-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;

    background-image: url("../../assets/images/InfoCard.png");

    border: none;

    & .modal-header {
      width: 100%;
      height: 15%;

      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      gap: 5px;

      padding-inline: 80px;

      & #pokemon-name {
        margin-right: auto;
      }

      & label {
        display: flex;
        gap: 2px;
      }
    }

    & .modal-main {
      height: 0px;
      flex: 1 1 auto;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 70px;

      & .images {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & img {
          width: 160px;
          height: 180px;
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .pokedex-wrapper {
    padding: 5px;

    & .pokemon-cards-container {
      & .pokemon-card-organizer {
        & .search-bar,
        & .cards-preview-settings select {
          height: 30px;
        }

        & .search-bar {
          width: 130px;
        }

        & ::placeholder {
          color: rgb(212, 212, 212);
          font-size: 1rem;
        }

        & .cards-preview-settings {
          & select {
            width: 60px;
          }
        }
      }

      & .cards {
        grid-template-columns: repeat(3, 1fr);
        grid-row-gap: 10px;
      }
    }
  }
}
